# pnpm 11+ uses .npmrc instead of package.json for build settings
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@firebase/util
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=@scarf/scarf
